*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

body{

    min-width: 375px;
    min-height: 812px;
    margin: auto;
    text-align: center;
    
}

main{
    /*nada por enquanto*/
    position: relative;
    display: inline-block;
}


/*Apresentação Tela*/

#apresentacao_tela{
    /*vai afetar todo o código dentro desse id*/
    position: relative;
    margin-bottom: 5%;

}

#apresentacao_tela img
{
   margin-top: 15%;
    max-width: 28%;

    
}

#apresentacao_tela #texto
{
    margin-top: 6%;
    /*margin-left: clamp(11%, 5vw, 11%);*/
    text-align: left;
   
    margin-left: clamp(50px, 15vw, 100px);
} 

#apresentacao_tela #texto h2
{
    font-size: clamp(30px, 10vw, 60px);
    padding: 3% 0px;
} 

#apresentacao_tela #texto span
{
    font-size: clamp(18px, 5vw, 30px);
    font-weight: 500;

} 

    /* ==== Campos de input ====*/

#campo_inputs{
    position: relative;
   

}

/*Classe inputing que mexe com os 3 inputs*/
.inputing{
    
  text-align: center;
  border: 1px solid black;
  border-radius: clamp(5px, 5vw, 15px);
  padding: clamp(15px, 5vw, 20px);
  width: clamp(291px, 85vw, 900px);
  margin-top: 5%;
  background-color: black;
  color: white;   
  font-size: clamp(18px, 5vw, 24px);  

}

::placeholder
{
    font-size: clamp(18px, 5vw, 36px);
    text-align: center;
    color: white;
}

/*Login input*/

/*Email input*/

/*Senha input*/

/*radios input - escolha de profissão*/

#tipo_conta
{
    margin-top: 4%;
}

#tipo_conta input
{
    
    width: clamp(30px, 10vw, 60px);
    height: clamp(30px, 10vw, 60px);
    cursor: pointer;
    color: red;
}

#tipo_conta label
{
    font-size: clamp(18px, 5vw, 32px);
    font-weight: 700;
    
}


#tipo_conta ul
{
    
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}




/*Botão*/

button
{

    /*texto*/
    font-size: clamp( 18px, 5vw, 30px);
    font-weight: 600;
    text-align: center;
    margin-top: clamp(30px, 10vw, 40px);
    background-color: black;
    color: white;
    padding: clamp(15px, 5vw, 20px);
    width: clamp(291px, 85vw, 900px);
    border-radius: clamp( 5px, 5vw, 15px);
    margin-bottom: 10%;
}
