@import url('https://fonts.googleapis.com/css2?family=Kadwa&family=Poppins:wght@200;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
    border: 1px solid;
    margin-left: 700px;
    margin-right: 700px;
    padding-bottom: 800px;
    padding-right: 22px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}

div#tatuadora {
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
}

h1.nometatdr {
    padding-left: 120px;
    padding-top: 50px;
    font-size: 12pt;
    position: absolute;
}

h3.nome2tatdr {
    font-size: 7pt;
    padding-left: 120px;
    padding-top: 80px;
}

div#perfildochat {
    display: block;
    position: absolute;
    padding-left: 5px;
    padding-right: 280px;
    border-radius: 20px;
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

img.ponto1 {
    position: absolute;
    padding-top: 33px;
}

img.ponto2 {
    position: absolute;
    padding-top: 21px;
}

img.ponto3 {
    position: absolute;
}

div#icone {
    padding-left: 410px;
    padding-top: 20px;
}

div#iconeverde {
    position: absolute;
    padding-left: 95px;
}

img.status {
    padding-top: 10px;
}

div#conversa {
    padding-top: 1px;
    padding-left: 48px;
}

input.field {
    width: 300px;
    height: 32px;
    background-color: rgb(219, 213, 213);
    border-radius: 10px;
    border: none;

}

div#qdificil {

    width: 400px;
    height: 6px;
    background-color: rgb(219, 213, 213);
    margin-top: 500px;
    margin-bottom: 60px;
    margin-left: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

div#aiai {
    position: absolute;
    padding-left: 28px;

}

div#clip {
    position: absolute;
    padding-left: 50px;
    margin-top: 510px;
}

div#enviar {
    position: absolute;
    margin-top: 510px;
    margin-left: 410px;
}

div#barra_de_conversa {
    margin-top: 85px;
    margin-bottom: -170px;
    margin-left:  -20px;
}

div#iconefixos {
    position: absolute;
    margin-top: 735px;
}

img.conta {
    margin-left: 135px;
}

img.home {
    margin-left: 50px;
}

img.lupa {
    margin-left: 50px;
}