@import url('https://fonts.googleapis.com/css2?family=Kadwa&family=Poppins:wght@200;400;700&family=Roboto:wght@300;400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 0 auto;
  width: 65%;
  height: 80%;
}

#introducao {
  margin-bottom: 5%;
}

#introducao h2 {
  font-size: 3.5rem;
}

#introducao p {
  font-size: 1.4rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#credenciais {
  border: solid;
  width: 26%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

input {
  border: none;
  width: 92%;
  margin-left: 3%;
}

input:focus-visible {
  outline: none;
}

.customInput {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 3% 5%;
}

.esqueceu a {
  background-color: 

#botoes {
  margin-left: 68%;
}

#parteBaixo {
  margin-top: 11%;
}
